h1 {
  font-family: 'Arial', sans-serif;
  padding-bottom: 20px;
}

a {
  display: inline-block;
  margin: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(89, 32, 136, 0.4);
  color: #fff;
  text-decoration: none;
  border-radius: 90px;
  margin-left: 765px;
  transition: all 2s;
}

.btn:hover {
  background-color: rgb(109, 72, 142, 0.6);
}
